body{
  background-color: $body-color;
}

.sidebar{
  //position: fixed;
  background-color: $sidebar-background-color;
  min-width: 15%;
  height: 100vh;

  h1{
    color: $logo-color;
    font-family: $logo-font;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;

    i{
      font-size: 25px;
      margin-left: 50px;
      color: $sidebar-text-color;
    }
  }

  .menu{
    border-bottom: $subtitle-color 1px solid;
    padding-bottom: 10px;

    a{
      display: block;
      text-decoration: none;
      color: $sidebar-text-color;
      font-family: $font;
      font-size: 18px;
      margin: 15px;
      padding: 10px;

      i{
        color: $sidebar-text-color;
        font-size: 15px;
        padding-right: 20px;
      }
    }

    a:hover{
      background-color: $sidebar-hover-background-color;
      border-left: solid 5px $button-color;
    }

  }
}

.main-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.display-container {
  width: 85%;
  //margin-left: 15%;
}

.top-bar{
  position: fixed;
  width: 85%;
  display: flex;
  justify-content: flex-end;
  background-color: $logo-color;
  margin: 0;
  z-index: 1;

  p{
    margin-left: 5px;
    padding: 15px 15px;
    border-left: solid 1px $border-color;
    font-size: 20px;
    font-family: $font;
    font-weight: medium;
    color: $subtitle-color;

    i{
      font-size: 18px;
      padding: 0 15px;
      color: $subtitle-color;
      font-weight: medium;
    }
  }

  .top-bar-login{
    color: $user-name-color;
  }

  .top-bar-amount{
    font-weight: bolder;
  }
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layout .card-container{
  width: 95%;
  border-radius: 5px;
  margin-top: 120px;
  background-color: $logo-color;

  h3{
    font-family: $font;
    color: $subtitle-color;
    font-weight: 500;
    padding: 20px;
    border-bottom: solid 1px $subtitle-color;
    margin: 0;
  }
}

.date-picker{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px $subtitle-color;
  margin: 15px 0 30px 0;
}

.date{
  margin: 20px 20px 30px 20px;
  border: solid 1.5px $subtitle-color;
  border-radius: 5px;
  width: 30%;
  padding: 0;

  p{
    display: inline-block;
    font-family: $font;
    font-size: 16px;
    padding: 5px 30px 5px 18px;
    margin: 8px 0;
    color: $sidebar-background-color;
  }

  .date-finish{
    border-left: solid 1.5px $subtitle-color;

    i{
      padding-left: 45px;
      padding-right: 0;
      color: $subtitle-color;
    }
  }
}

.button{
  margin: 20px;

  i{
    background-color: $button-color;
    color: $logo-color;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
  }
}

.statistic{
  margin: 10px auto;

  .left, .right{
    display: flex;
    flex-direction: column;
  }

  .left{
    align-items: flex-end;
  }

  .details{
    border-bottom: solid 1px $subtitle-color;
    margin: 10px;
    width: 60%;
    justify-content: space-between;

    .title, .number{
      text-align: center;
      font-family: $font;
      font-size: 16px;
    }

    .title{
      color: $subtitle-color;
      font-weight: bolder;
    }

    .number{
      color: $sidebar-background-color;
    }
  }
}

.chart{
  margin-top: 70px;
  margin-bottom: 40px;

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

