body{
  background-color: $body-color;
}

.sidebar{
  position: fixed;
  background-color: $sidebar-background-color;
  min-width: 15%;
  height: 100vh;

  h1{
    color: $logo-color;
    font-family: $logo-font;
    font-size: 40px;
    text-align: center;
    margin: 20px 0 0 10px;
    padding-bottom: 20px;

    i{
      font-size: 25px;
      margin-left: 50px;
      color: $sidebar-text-color;
    }
  }

  .menu{
    margin: 0;
    padding-bottom: 10px;

    a{
      display: block;
      text-decoration: none;
      color: $sidebar-text-color;
      font-family: $font;
      font-size: 18px;
      margin: 0 15px 15px 15px;
      padding: 10px;

      i{
        color: $sidebar-text-color;
        font-size: 15px;
        padding-right: 20px;
      }
    }

    a:hover{
      background-color: $sidebar-hover-background-color;
      border-left: solid 5px $button-color;
    }

  }
}

.messenger {
  border-top: $subtitle-color 1px solid;

  h4{
    font-family: $font;
    font-size: 18px;
    font-weight: 400;
    padding-left: 25px;
    color: $sidebar-text-color;
  }

  p{
    font-family: $font;
    font-size: 16px;
    color: $user-name-color;
    margin-left: 10px;
  }

  img{
    margin-left: 20px;
  }

  .contact{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }
}

.main-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.display-container {
  width: 85%;
  margin-left: 15%;
}

.top-bar{
  position: fixed;
  width: 85%;
  display: flex;
  justify-content: flex-end;
  background-color: $logo-color;
  margin: 0;
  z-index: 1;

  p{
    margin-left: 5px;
    padding: 15px 15px;
    border-left: solid 1px $border-color;
    font-size: 20px;
    font-family: $font;
    font-weight: medium;
    color: $subtitle-color;

    i{
      font-size: 18px;
      padding: 0 15px;
      color: $subtitle-color;
      font-weight: medium;
    }
  }

  .top-bar-login{
    color: $user-name-color;
  }

  .top-bar-amount{
    font-weight: bolder;
  }
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layout .card-container{
  width: 95%;
  border-radius: 5px;
  margin-top: 120px;
  background-color: $logo-color;

  h3{
    font-family: $font;
    color: $subtitle-color;
    font-weight: 500;
    padding: 20px;
    border-bottom: solid 1px $subtitle-color;
    margin: 0;
  }
}

.date-picker{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px $subtitle-color;
  margin: 30px 0 50px 0;
  padding-bottom: 30px;
}

.date{
  margin-right: 10px;
  border: solid 1.5px $subtitle-color;
  border-radius: 5px;
  width: 30%;
  padding: 0;

  p{
    display: inline-block;
    font-family: $font;
    font-size: 16px;
    padding: 5px 30px 5px 18px;
    margin: 8px 0;
    color: $sidebar-background-color;
  }

  .date-finish{
    border-left: solid 1.5px $subtitle-color;

    i{
      padding-left: 50px;
      padding-right: 0;
      color: $subtitle-color;
    }
  }
}

.button.undo{
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0;
}

.button:hover{
  cursor: pointer;
}

.statistic{
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .left, .right{
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  .left{
    align-items: flex-end;
  }

  .details{
    border-bottom: solid 1px $subtitle-color;
    margin: 10px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title, .number{
      text-align: center;
      font-family: $font;
      font-size: 16px;
    }

    .title{
      color: $subtitle-color;
      font-weight: bolder;
    }

    .number{
      color: $sidebar-background-color;
    }
  }
}

.chart{
  margin-top: 70px;
  margin-bottom: 40px;

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-container.second{
  margin-top: 30px;
  margin-bottom: 5px;
}

.button{
  background-color: $button-color;
  color: $logo-color;
  border-radius: 5px;
  width: 12%;
  margin: 40px auto;
  text-align: center;

  p{
    font-family: $font;
    font-size: 18px;
    padding: 15px;
    font-weight: lighter;
  }
}

.link{
  display: flex;
  flex-direction: row;
  border-top: 1px solid $subtitle-color;
  width: 75%;
  margin: 0 auto;
  padding: 30px 20px;
  font-size: 20px;
  font-family: $font;

  p, a, i{
    margin: 0;
    padding: 0;
  }

  p{
    color: $subtitle-color;
    font-weight: bolder;
    width: 40%;
  }

  a{
    color: $user-name-color;
    text-decoration: none;
    width: 50%;
  }

  i{
    color: $subtitle-color;
    font-size: 17px;
  }

  .link-icon{
    color: $color-sent;
    padding-right: 25px;
  }

  .icons {
    display: none;
  }
}

.link.last{
  border-bottom: 1px solid $subtitle-color;
}

.link:hover{
  background-color: $body-color;
  cursor: pointer;

  .icons {
    display: inherit;

    i:hover{
      font-size: 20px;
    }
  }
}

.card-container.third{
  margin-top: 30px;
  margin-bottom: 5px;
}

.personal-data{
  width: 100%;

  form {
    width: 100%;
  }

  .section{
    border-bottom: 1px solid $subtitle-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-data{
    font-family: $font;
    color: $subtitle-color;
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;

    label {
      width: 40%;
    }

    input{
      width: 60%;
      height: 35px;
      border-radius: 5px;
      border: 1px solid $subtitle-color;
    }
  }
}

@media (max-width: 768px) {
  .main-container {
    margin: 0;
    flex-direction: column;
    //height: 100%;
  }

  .sidebar{
    height: 70px;
    width: 100%;
    z-index: 2;

    h1{
      padding-bottom: 0;
    }

    .menu{
      display: none;
      background-color: inherit;
    }

    i:hover{
      cursor: pointer;
    }

    .show{
      display: block;
      background-color: inherit;
      z-index: 2;
      padding-top: 10px;
    }
  }

  .display-container{
    width: 100%;
    margin: 0;
  }

  .top-bar{
    margin: 70px 0 0 0;
    width: 100%;

  }

  .layout{
    margin-top: 100px;
  }

  .date{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    p{
      margin: 0;
      padding: 10px 0;
      display: block;
      text-align: center;

      i{
        display: none;
      }
    }

    .date-finish{
      border-top: solid 1.5px $subtitle-color;
      border-left: none;

      i{
        color: $subtitle-color;
      }
    }
  }

  .statistic{
    flex-direction: column;

    .left, .right{
      width: 100%;
      align-items: center;
    }
  }

  .chart img{
    width: 400px;
  }

  .link{
    display: flex;
    flex-direction: column;

    p, a, i{
      margin: 7px 0;
      text-align: start;
      width: 100%;
    }

    .icons{
      width: 20%;
    }
  }

  .links .button{
    width: 30%;
  }

  .personal-data{
    display: flex;
    justify-content: center;
  }

  .form-data{
    flex-direction: column;

    input{
      width: 100%;
    }

    label{
      width: 100%;
      padding: 10px 0;
    }
  }

  .button.save{
    width: 30%;
    margin: 20px auto;

    p{
      padding: 10px 0;
      margin: 0;
    }
  }

}
