/* Colors */
$logo-color: #F5F5F2;
$sidebar-background-color: #1b1b1b;
$sidebar-hover-background-color: #4b4b4b;
$sidebar-text-color: #aaaaaa;
$subtitle-color: #BABABA;
$border-color: #E3E3E3;
$user-name-color: #56819F;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$logo-font: "Bilbo", cursive;
$font: "Roboto", sans-serif;

